<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @partner.status %>
</p>

<p>
  <b>Operator:</b>
  <%= @partner.operator %>
</p>

<p>
  <b>Code:</b>
  <%= @partner.code %>
</p>

<p>
  <b>Site:</b>
  <%= @partner.site_id %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
