<h1>Listing complaints</h1>

<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c%>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= will_paginate @complaints %>
<%= page_entries_info @complaints %>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Incident</th>
    <th>Assigned to</th>
    <th>Problem status</th>
    <th>Msisdn</th>
    <th>Ne name</th>
    <th>Cell</th>
    <th>Package type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @complaints.each do |complaint| %>
  <tr>
    <td><%= complaint.incident %></td>
    <td><%= complaint.assigned_to %></td>
    <td><%= complaint.problem_status %></td>
    <td><%= complaint.msisdn %></td>
    <td><%= complaint.ne_name %></td>
    <td><%= complaint.cell_id %></td>
    <td><%= complaint.package_type %></td>
    <td><%= link_to 'Show', complaint, :class => "btn" %></td>
    <td><%= link_to 'Edit', edit_complaint_path(complaint), :class => "btn" %></td>
    <td><%= link_to 'Destroy', complaint, confirm: 'Are you sure?', method: :delete, :class => "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Complaint', new_complaint_path, :class => "btn" %>
