<ul class="pager">

  <% if @complaint.previous_version.nil? %>
    <li class="disabled">
      <%= link_to "Previous version" %>
    </li>
  <% else %>
    <li class="">
      <%= link_to "Previous version", :version => @complaint.previous_version.version.index %>
    </li>
  <% end %>


  <% if @complaint.live? %>
    <li class="disabled">
      <%= link_to "Next version" %>
    </li>
    <li class="disabled">
      <%= link_to "Latest version" %>
    </li>
  <% else %>

    <% if @complaint.next_version.nil? %>
      <li class="">
        <%= link_to "Next version", :version => nil %>
      </li>
    <% else %>
      <li class="">
        <%= link_to "Next version", :version => @complaint.next_version.version.index %>
      </li>
    <% end %>

    <li class="">
      <%= link_to "Latest version", :version => nil %>
    </li>
  <% end %>

</ul>

<div class="row show-grid">
  <div class="span5">
    <!-- Complaint attributes
    ================================================== -->
    <% @complaint.attributes.reject { |k, v| ["id", "created_at", "updated_at"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
  </div>

  <div class="span5">
    <p>
      <h4>Comments</h4>
      <hr />
      <% for comment in @complaint.comments %>
        <%= simple_format(comment.content) %>
      <hr />
      <% end %>
    </p>

    <p>
      <h4>Complaints From Same Number:</h4>
      <% for previous_complaint in @previous_complaints %>
        <br /><%= link_to previous_complaint.incident.to_s, previous_complaint %>
      <% end %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
