<h4>Search sectors</h4>

<%= search_form_for @search do |f| -%>
  <%= f.condition_fields do |c| -%>
    <%= render "condition_fields", f: c -%>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition -%>
  <div class="actions"><%= f.submit "Search" -%></div>
<% end %>
<hr />

<h4>Listing sectors</h4>

<%= will_paginate @sectors -%>
<%= page_entries_info @sectors -%>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Code</th>
    <th>Cell</th>
    <th>Serving area</th>
    <th>Morphology</th>
    <th>Blocking</th>
    <th>Site</th>
    <th></th>
    <th></th>
  </tr>

<% @sectors.each do |sector| %>
  <tr>
    <td><%= link_to sector.code, sector %></td>
    <td><%= sector.cell %></td>
    <td><%= sector.serving_area %></td>
    <td><%= sector.morphology %></td>
    <td><%= sector.blocking %></td>
    <td><%= link_to_unless(sector.site.nil?, sector.site.code, site_path(sector.site)) %></td>
    <td><%= link_to 'Edit', edit_sector_path(sector) if can? :update, Sector %></td>
    <td><%= link_to 'Destroy', sector, confirm: 'Are you sure?', method: :delete if can? :destroy, Sector %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sector', new_sector_path  if can? :create, Sector %>
