
<div class="row show-grid">
<!-- Sectors attributes
================================================== -->
  <div class="span4">
    <h4> Sector Fields </h4>
    <p>
      <b>Site:</b>
      <%= link_to_unless(@sector.site.nil?, @sector.site.code, site_path(@sector.site)) %>
    </p>
    <% @sector.attributes.reject { |k, v| ["id", "created_at", "updated_at", "site_id"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
  </div>


  <% unless @sector.antennas.blank? %>

    <% @sector.antennas.each do |antenna| %>
      <div class="span3">
      <h4> Antenna Fields </h4>
        <% antenna.attributes.reject { |k, v| ["id", "created_at", "updated_at", "sector_id"].include?(k) }.each_pair do |name, value| %>
          <p>
            <b><%= name.humanize %>:</b>
            <%= value %>
          </p>
        <% end %>
      </div>
    <% end %>

  <% end %>

</div>

<%= link_to 'Edit', edit_sector_path(@sector) %> |
<%= link_to 'Back', sectors_path %>
