<h4>Listing proposals</h4>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Sector</th>
    <th>Band</th>
    <th>Proposed by</th>
    <th>Proposed at</th>
    <th>Hba</th>
    <th>Azimuth</th>
    <th>M. Tilt</th>
    <th>E. Tilt 900</th>
    <th>E. Tilt 1800</th>
    <th>E. Tilt 2100</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.antenna.sector.code %></td>
    <td><%= proposal.antenna.band %></td>
    <td><%= User.find(proposal.proposed_by).user_name %></td>
    <td><%= proposal.proposed_at.to_date %></td>

    <td><%= "#{proposal.antenna.hba.to_s || ""} > #{proposal.hba.to_s}" unless proposal.hba.nil? %></td>
    <td><%= "#{proposal.antenna.azimuth.to_s || ""} > #{proposal.azimuth.to_s}" unless proposal.azimuth.nil? %></td>
    <td><%= "#{proposal.antenna.mechanical_tilt.to_s || ""} > #{proposal.mechanical_tilt.to_s}" unless proposal.mechanical_tilt.nil? %></td>
    <td><%= "#{proposal.antenna.electrical_tilt_900.to_s || ""} > #{proposal.electrical_tilt_900.to_s}" unless proposal.electrical_tilt_900.nil? %></td>
    <td><%= "#{proposal.antenna.electrical_tilt_1800.to_s || ""} > #{proposal.electrical_tilt_1800.to_s}" unless proposal.electrical_tilt_1800.nil? %></td>
    <td><%= "#{proposal.antenna.electrical_tilt_2100.to_s || ""} > #{proposal.electrical_tilt_2100.to_s}" unless proposal.electrical_tilt_2100.nil? %></td>

    <td><%= link_to 'Commit', commit_proposal_path(proposal) %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Reject', proposal, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
