<div class="row">
  <div class="span5">
  
    <div class="control-group">
      <%= f.label :latitude, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :latitude %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :longitude, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :longitude %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :line, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :line %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :area_name, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :area_name %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :postal_code, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :postal_code %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :city, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :city %>
      </div>
    </div>
  
  </div>

  <div class="span5">
  
    <div class="control-group">
      <%= f.label :union_council, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :union_council %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :tehsil, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :tehsil %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :district, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :district %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :province, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :province %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :region, :class=> "control-label" %>
      <div class="controls">
        <%= f.text_field :region %>
      </div>
    </div>
  
  </div>
</div>
