<div class="row">
  <div class="span5">
  
    <div class="control-group">
      <%= f.label :code, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :code %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :name, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :equipment_vendor, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :equipment_vendor %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :equipment_type, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :equipment_type %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :type, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :type %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :coverage_type, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :coverage_type %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :cabinet_type, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :cabinet_type %>
      </div>
    </div>
  
  </div>
  <div class="span5">
  
    <div class="control-group">
      <%= f.label :structure_type, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :structure_type %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :structure_height, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :structure_height %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :building_height, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :building_height %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :amsl, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :amsl %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :phase, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :phase %>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :on_air_date, :class => "control-label" %>
      <div class="controls">
        <div class="input-append date" id="on-air-date" data-date="12-10-2012" data-date-format="dd-mm-yyyy">
          <%= f.text_field :on_air_date, :class => "span2" %>
          <span class="add-on"><i class="icon-th"></i></span>
        </div>
      </div>
    </div>
  
    <div class="control-group">
      <%= f.label :status, :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :status %>
      </div>
    </div>
  </div>
</div>
