<% content_for :search do %>
  <%= form_tag sites_path, :method => :get, :class => 'navbar-search pull-left' do %>
    <%= text_field_tag 'q', params[:q], :placeholder => "Search" %>
  <% end %>
<% end %>

<h4>Listing sites</h4>

<%= will_paginate @sites -%>
<%= page_entries_info @sites -%>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Code</th>
    <th>Equipment vendor</th>
    <th>City</th>
    <th>Partner Status</th>
    <th>Partner Operator</th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= link_to site.code, site %></td>
    <td><%= site.equipment_vendor %></td>
    <td><%= site.address.city %></td>
    <td><%= site.partner.status %></td>
    <td><%= site.partner.operator %></td>
    <td><%= link_to 'Edit', edit_site_path(site) if can? :update, Site %></td>
    <td><%= link_to 'Destroy', site, confirm: 'All related sectors will be deleted as well. Are you sure?', method: :delete if can? :destroy, Site %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path if can? :create, Site %>
