<h1>Listing sites</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Equipment vendor</th>
    <th>Equipment type</th>
    <th>Type</th>
    <th>Coverage type</th>
    <th>Cabinet type</th>
    <th>Structure type</th>
    <th>Structure height</th>
    <th>Building height</th>
    <th>Amsl</th>
    <th>Phase</th>
    <th>On air date</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sites.each do |site| %>
  <tr>
    <td><%= site.code %></td>
    <td><%= site.name %></td>
    <td><%= site.equipment_vendor %></td>
    <td><%= site.equipment_type %></td>
    <td><%= site.type %></td>
    <td><%= site.coverage_type %></td>
    <td><%= site.cabinet_type %></td>
    <td><%= site.structure_type %></td>
    <td><%= site.structure_height %></td>
    <td><%= site.building_height %></td>
    <td><%= site.amsl %></td>
    <td><%= site.phase %></td>
    <td><%= site.on_air_date %></td>
    <td><%= site.status %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Site', new_site_path %>
