<div class="row show-grid">

  <div class="span4">
    <!-- Site attributes
    ================================================== -->
    <h4> Specifications </h4>
    <% @site.attributes.reject { |k, v| ["id", "created_at", "updated_at"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
  </div>
  
  <div class="span3">
    <!-- Site address attributes
    ================================================== -->
    <h4> Address Fields </h4>
    <% @site.address.attributes.reject { |k, v| ["id", "created_at", "updated_at", "site_id"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
  </div>
  
  <div class="span3">
    <!-- Site partner attributes
    ================================================== -->
    <h4> Partner Fields </h4>
    <% @site.partner.attributes.reject { |k, v| ["id", "created_at", "updated_at", "site_id"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
    
    <!-- Site audit attributes
    ================================================== -->
    <hr />
    <h4> Audit Fields </h4>
    <% @site.audit.attributes.reject { |k, v| ["id", "created_at", "updated_at", "site_id"].include?(k) }.each_pair do |name, value| %>
      <p>
        <b><%= name.humanize %>:</b>
        <%= value %>
      </p>
    <% end %>
    
    <!-- Site sectors
    ================================================== -->
    <hr />
    <h4> Sectors </h4>
    <ul>
      <% @site.sectors.each do |sector| %>
        <li> <%= link_to sector.code, sector_path(sector) %> </li>
      <% end %>
    </ul>

  </div>
</div>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>

<!-- Site comments
================================================== -->
<p>
  <hr />
  <h4>Comments</h4>
  <% for comment in @site.comments %>
    <%= simple_format(comment.content) %>
    <hr />
  <% end %>
</p>

