<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Avion" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Site database for Telenor Pakistan">
    <meta name="author" content="Imtiaz A. Nizami">

    <!-- Styles
    ================================================== -->
    <%= stylesheet_link_tag    "application", :media => "all" %>

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= yield(:head) %>
  </head>

  <body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Avion</a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav">
              <li class="active"><%= link_to "Sites", sites_path %></li>
              <li><%= link_to "Sectors", sectors_path %></li>
              <% if can? :update, Proposal %>
                <li><%= link_to "Proposals", proposals_path %></li>
              <% end %>
              <li><%= link_to "Export Database", "#" %></li>
              <% if can? :create, SiteImport %>
                <li><%= link_to " Import Site", new_site_import_path %></li>
              <% end %>
            </ul>

            <%= yield(:search) %>

            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li>
                  <%= current_user.user_name %> 
                </li>
                <li>
                  <%= link_to('Sign out', destroy_user_session_path, :method=>'delete') %>
                </li>
              <% else %>
                <li>
                  <%= link_to('Sign in', new_user_session_path)  %>
                </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div><!--/nav-inner -->
    </div><!--/navbar -->

    <!-- Main Page
    ================================================== -->
    <div class="container">
      <div id="main" role="main">
        <div class="content">
           <div class="row">

             <!-- Sidebar
             ================================================== -->

             <div class="span2">
               <div class="well sidebar-nav">
                 <ul class="nav nav-list">
                   <li class="nav-header">Sidebar</li>
                   <li class="active"><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li class="nav-header">Sidebar</li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li class="nav-header">Sidebar</li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                   <li><a href="#">Link</a></li>
                 </ul>
               </div><!--/.well -->
             </div><!--/span-->

            <!-- Content
             ================================================== -->
            <div class="span10">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>

          </div>
          <footer>
          </footer>
        </div>
      </div> <!--! end of #main -->
    </div> <!--! end of .container -->


    <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </body>
</html>
